* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  color: white;
  font-family: "Roboto", sans-serif;
  background-color: #ccc;
}

/* *LAYOUT* */
.container {
  display: grid;
  grid-template-columns: 15em 3fr;
  /* grid-template-columns: 1fr 3fr; */
  /* grid-template-rows: 1fr 3fr; */
  grid-template-rows: 10em 3fr;
  /* row-gap: 1em;` */
}

.side-bar {
  padding: 1em;
  background-color: #0793ea;
  grid-row: 1/4;
}

.header {
  margin-bottom: 1em;
  background-color: #ffffff;
  padding: 0.7em 2em 1em 2em;
  display: flex;
  flex-direction: column;
  gap: 0.7em;
  box-shadow: 2px 3px 9px rgba(0, 0, 0, 0.5);
}

.article {
  background-color: #ccc;
}

/* *STYLES* */

/* *Side Bar * */
.side-bar {
  display: flex;
  flex-direction: column;
  gap: 2.5em;
}

.icon__text {
  display: flex;
  align-items: center;
  gap: 0.6em;
}

.icons {
  padding: 0.4em;
  display: flex;
  flex-direction: column;
  gap: 1.6em;
}

.icon__text_div {
  gap: 1.2em;
}

.icon__text h3 {
  font-size: 1.4rem;
}

.icon__text h4 {
  font-size: 1.2rem;
}

/* *Header* */

.part__one__header {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.search__input {
  display: flex;
  gap: 1em;
  align-items: center;
}
.search__input button {
  background-color: #fff;
  border: none;
}

.search__input input {
  background-color: #cfcdcd;
  border: none;
  padding: 0.6em 1em;
  border-radius: 3em;
  width: 80%;
}

.search__input input:focus {
  outline: none;
}

.bell__avatar {
  display: flex;
  align-items: center;
  padding-left: 2em;
  gap: 1.5em;
}

.bell__avatar button {
  background-color: #fff;
  border: none;
}

.avatar__name {
  display: flex;
  gap: 1.5em;
  align-items: center;
}

.avatar__name h3,
.avatar__text .text {
  color: black;
}

.part__two__header {
  display: grid;
  grid-template-columns: 1.7fr 1fr;
}

.avatar__text {
  display: flex;
  gap: 1em;
  align-items: center;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 1.4em;
}

.buttons button:hover {
  cursor: pointer;
  background-color: #43b3f8;
}

.buttons button {
  background-color: #0793ea;
  color: white;
  border: none;
  padding: 0.6em;
  width: 6.5em;
  border-radius: 3em;
  font-weight: 600;
}
