:root {
  /* Colors */
  --primary-bg-color: #eae7e7;
  --secondary-bg-color: #0793ea;
  --tertiary-color: #ffffff;
  --input-bg-color: #cfcdcd;
  --text-color: #000000;
  --primary-text: #7d7d7d;
  --secondary-text: #6d6c6c;
  --button-hover: #43b3f8;
  --border-left: #e6a63a;
  --border-bottom: #c8c6c6;

  /* Font */
  --normal-font: "Roboto", sans-serif;

  /* Box Shadow */
  --dark-shadow: rgba(0, 0, 0, 0.5);
  --light-shadow: rgba(133, 133, 133, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  color: var(--tertiary-color);
  font-family: var(--normal-font);
  background-color: var(--primary-bg-color);
}

/* *LAYOUT* */

.container {
  display: grid;
  grid-template-columns: 15em 3fr;
  grid-template-rows: 10.5em 3fr;
}

.side-bar {
  padding: 1em;
  background-color: var(--secondary-bg-color);
  grid-row: 1/4;
}

.header {
  margin-bottom: 1em;
  background-color: #ffffff;
  padding: 0.7em 2em 1em 2em;
  display: flex;
  flex-direction: column;
  gap: 0.7em;
  box-shadow: 2px 3px 9px var(--dark-shadow);
}

.article {
  background-color: var(--primary-bg-color);
  display: grid;
  grid-template-columns: 2.3fr 1fr;
  column-gap: 1.7em;
  padding: 1em 1em 2em 1em;
}

/* *STYLES* */

/* *Side Bar * */
.side-bar {
  display: flex;
  flex-direction: column;
  gap: 2.5em;
}

.icon__text {
  display: flex;
  align-items: center;
  gap: 0.6em;
}

.icon__text:hover {
  cursor: pointer;
  text-decoration: underline;
}

.icons {
  padding: 0.4em;
  display: flex;
  flex-direction: column;
  gap: 1.6em;
}

.icon__text_div {
  gap: 1.2em;
}

.icon__text h3 {
  font-size: 1.4rem;
}

.icon__text h4 {
  font-size: 1.2rem;
}

/* *Header* */

.part__one__header {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.search__input {
  display: flex;
  gap: 1em;
  align-items: center;
}
.search__input button {
  background-color: var(--tertiary-color);
  border: none;
}

.search__input input {
  background-color: var(--input-bg-color);
  border: none;
  padding: 0.6em 1em;
  border-radius: 3em;
  width: 80%;
}

.search__input input:focus {
  outline: none;
}

.bell__avatar {
  display: flex;
  align-items: center;
  padding-left: 2em;
  gap: 1.5em;
}

.bell__avatar button {
  background-color: transparent;
  border: none;
}

.bell__avatar button:hover {
  cursor: pointer;
}

.avatar__name {
  display: flex;
  gap: 1.5em;
  align-items: center;
}

.avatar__name h3,
.avatar__text .text {
  color: var(--text-color);
}

.part__two__header {
  display: grid;
  grid-template-columns: 1.7fr 1fr;
}

.avatar__text {
  display: flex;
  gap: 1em;
  align-items: center;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 1.4em;
}

.buttons button:hover {
  cursor: pointer;
  background-color: var(--button-hover);
}

.buttons button {
  background-color: var(--secondary-bg-color);
  color: var(--tertiary-color);
  border: none;
  padding: 0.6em;
  width: 6.5em;
  border-radius: 3em;
  font-weight: 600;
}

/* *Article* */

.header__h3 {
  color: var(--text-color);
  font-size: 1.3rem;
  margin-bottom: 0.6em;
}

.article__div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.7em;
}

.article__one {
  background-color: var(--tertiary-color);
  color: var(--text-color);
  padding: 2em 1em;
  border-left-style: solid;
  border-left-width: 5px;
  border-left-color: var(--border-left);
  border-radius: 0.5em;
  box-shadow: 3px 5px 4px var(--light-shadow);
}

.article__p {
  color: var(--primary-text);
  font-size: 0.9rem;
  margin-top: 0.2em;
}

.article__icons {
  display: flex;
  gap: 1.5em;
  margin-top: 2em;
  justify-content: end;
}

.article__icons img:hover {
  cursor: pointer;
}

.article__part__two {
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  gap: 1.9em;
}

.announce__div,
.trending__div {
  background-color: var(--tertiary-color);
  padding: 1.5em 1.7em;
  border-radius: 0.5em;
  box-shadow: 3px 5px 4px var(--light-shadow);
}

.div__one {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--border-bottom);
}

.announce__p {
  color: var(--primary-text);
  font-size: 0.9rem;
  margin-top: 0.2em;
  padding-bottom: 1em;
}

.two {
  margin-top: 1em;
}

.trending__div {
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.profile__text {
  display: flex;
  gap: 1em;
  align-items: center;
}

.profile__text p {
  color: var(--secondary-text);
  margin-top: 0.2em;
}

/* *Mobile View* */

@media screen and (max-width: 768px) {
  /* *Layout* */
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 10.5em 3fr;
  }

  .side-bar {
    display: none;
  }

  .header {
    padding: 0.7em 1em 1em 1em;
  }

  .article {
    grid-template-columns: 1fr;
    padding: 1em;
    gap: 1.7em;
  }

  /* *Header* */

  .part__one__header {
    grid-template-columns: 2fr 1fr;
  }

  .search__input input {
    width: 100%;
  }

  .bell__avatar {
    gap: 1em;
    padding-left: 1em;
    justify-content: right;
  }

  .bell__avatar h3 {
    display: none;
  }

  .part__two__header {
    display: flex;
    justify-content: end;
    align-items: end;
    margin-top: 1em;
  }
  .part__two__header .avatar__text {
    display: none;
  }

  .buttons {
    align-items: center;
    justify-content: center;
  }

  /* *Article* */

  .article__div {
    grid-template-columns: 1fr;
    gap: 1.7em;
  }
}
